.input {
  width: 250px;
  padding: 6px;
  border-radius: 4px;
  font-family: "Special Elite", cursive;
  font-size: 18px;
  border: solid 2px #471714;
  background-color: #f4cd94;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.input::placeholder {
  color: #471714;
}
