.wrapper {
  position: relative;
}

.trigger {
  width: 60px;
  height: 60px;
  background: #000;
  border-radius: 50%;
}

.popover {
  width: 400px;
  height: 100px;
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 1px black;
  background: #fff;
}
