.configure-screen {
  display: flex;
  flex-direction: column;
}

.configure-screen__name-input-wrapper {
  margin-bottom: 20px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.configure-screen__player-info {
  display: flex;
  font-size: 20px;
  align-items: center;
}

.configure-screen__player-name {
  padding-left: 10px;
  white-space: nowrap;
}

.configure-screen__button-wrapper {
  display: flex;
  margin-top: 10px;
}

.configure-screen__add-player-button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.configure-screen__icon {
  width: 36px;
  height: auto;
}
