.configure-screen {
  width: 100%;
}
.configure-screen__name-input-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.configure-screen__name-input-wrapper {
  margin-top: 30px;
}

.configure-screen__add-player {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Special Elite", cursive;
  font-size: 14px;
  border: none;
  cursor: pointer;
  background-color: #f4cd94;
}

.configure-screen__button-wrapper {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 50px;
}
