.create-edit__header {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.create-edit__form {
  margin-bottom: 30px;
}

.create-edit__form-option {
  font-size: 26px;
  margin-bottom: 20px;
}
.create-edit__form-label {
  display: block;
  margin-bottom: 8px;
}
