.score-input__wrapper {
  display: flex;
  border: solid 2px #471714;
  border-radius: 4px;
}

.score-input__score {
  border-right: solid 2px #471714;
  border-left: solid 2px #471714;
  padding: 10px 15px;
  font-size: 20px;
  width: 20px;
  text-align: center;
}
