.game {
  width: 100%;
  max-width: 400px;
}

.game-player {
  font-size: 26px;
}

.game-player__section {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}

.game-player__name {
  margin-left: 10px;
}

.game-player__info {
  display: flex;
  align-items: center;
}

.game-player__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.game-player__combat {
  width: 45px;
  height: auto;
}

.game__actions {
  text-align: right;
  max-width: 500px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.game-player__link {
  width: 50px;
  height: 45px;
}
