.game {
  width: 100%;
  max-width: 400px;
}

.game-player__section {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}

.game-player__info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-player__name {
  margin-left: 10px;
  font-size: 26px;
}

.game-player__score {
  display: flex;
  justify-content: center;
  align-items: center;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actions__section {
  text-align: center;
  font: 12px;
}

.actions__score {
  font: 12px;
}

.actions__combat-img {
  width: 45px;
  height: auto;
}

.actions__combat-link {
  width: 45px;
  height: 45px;
}

.game__actions {
  text-align: right;
  max-width: 500px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
