.player-form__header {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.player-form__form {
  margin-bottom: 30px;
}

.player-form__form-option {
  font-size: 26px;
  margin-bottom: 20px;
}
.player-form__form-label {
  display: block;
  margin-bottom: 8px;
}
