.avatar-picker__wrapper {
  position: relative;
  width: 70px;
}

.avatar-picker__text {
  font-size: 20px;
  width: 100%;
  text-align: center;
}
.avatar-picker__button {
  background: none;
  border: none;
  padding: 0;
}
.avatar-picker__avatar-list {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 300px;
  position: absolute;
  overflow: hidden;
  border: solid 2px #471714;
  border-radius: 5px;
  background: #f4cd94;
}

.avatar-picker__placeholder {
  border: none;
  background: none;
}

.avatar-picker__placeholder-img,
.avatar-picker__avatar-image {
  width: 50px;
  height: auto;
  border: #471714 1px solid;
  border-radius: 30px;
  margin: 4px 4px 0 4px;
  cursor: pointer;
  background-color: white;
}
